<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Robot Manager</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>

<header role="banner">
  <h1>N.E.H.R.</h1>
  <sub>Not Exactly Human Registry</sub>
</header>

<%= yield %>

<footer role="contentinfo">
  <p>&copy; 2015 Robots Forever</p>
</footer>
</body>
</html>
